@import "tailwindcss";
@config "../tailwind.config.ts";

:root {
  --background: #fcf5ee;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
